@page
@model TasteOfHome.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="auth-wrapper">
    <div class="auth-card-lg">
        <div class="auth-title">Login</div>

        @if (!string.IsNullOrEmpty(Model.Error))
        {
            <div class="auth-error">@Model.Error</div>
        }

        <form method="post">
            <input class="form-control auth-input mb-3"
                   name="Email"
                   placeholder="Email" />

            <input class="form-control auth-input mb-4"
                   name="Password"
                   type="password"
                   placeholder="Password" />

            <button class="btn btn-toh w-100 auth-btn">
                Login
            </button>
        </form>
    </div>
</div>
