@page
@model TasteOfHome.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="auth-wrapper">
    <div class="auth-card-lg">
        <div class="auth-title">Create Account</div>

        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="auth-success">@Model.Message</div>
        }

        <form method="post">
            <input class="form-control auth-input mb-3"
                   name="Email"
                   placeholder="Email" />

            <input class="form-control auth-input mb-4"
                   name="Password"
                   type="password"
                   placeholder="Password" />

            <button class="btn btn-toh w-100 auth-btn">
                Register
            </button>
        </form>
    </div>
</div>
